---
- name: 1. Install k3s on the first server node
  ansible.builtin.shell: |
    curl -sfL https://get.k3s.io | \
    INSTALL_K3S_EXEC="
      server
      --disable traefik 
      --kubelet-arg cloud-provider=external
      --kubelet-arg provider-id=hcloud://{{ hcloud_id }}
    " sh 
  args:
    creates: /etc/systemd/system/k3s.service # This makes the command idempotent

- name: 2. Wait for k3s to be ready
  ansible.builtin.wait_for:
    path: /var/lib/rancher/k3s/server/node-token
    timeout: 120

- name: 3. Get the k3s join token from the first node
  ansible.builtin.slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: k3s_token_raw

- name: 4. Store the join token as a fact
  ansible.builtin.set_fact:
    k3s_token: "{{ k3s_token_raw['content'] | b64decode | trim }}"
    cacheable: yes # Makes this fact available to other hosts
