---
- name: 1. Install k3s on joining server nodes
  ansible.builtin.shell: |
    curl -sfL https://get.k3s.io | \
    INSTALL_K3S_EXEC="
      server
      --tls-san {{ load_balancer_ip }}
      --kubelet-arg cloud-provider=external
      --server https://{{ k3s_init_node_ip }}:6443
      --token {{ hostvars[groups['k3s_master_init'][0]]['k3s_token'] }}
    " sh 
  args:
    creates: /etc/systemd/system/k3s.service # Idempotency
